##### CSS de lInterface Graphique de lENSMASTEEL #####

##### QFrame #####
QFrame {
    background-color : #333333;
    color : #2CF007;
    border : 0px;
}

QFrame#cinetiqueR {
    background-color : #333333;
    border : 4px solid #E0FFFF;
}

QFrame#cinetiqueG {
    background-color : #333333;
    border : 4px solid #E0FFFF;
}
#########################

###### QPushButton ######
QPushButton {
    background-color : #444444;
    color : #FFFFFF;
    border-radius : 2px;
    height : 50px;
}

QPushButton:hover {
    background-color : #2CF007;
}

QPushButton:pressed {
    background-color : #E0FFFF;
}
##########################